[Unit]
Description=Flask Application with Prometheus Metrics
After=network.target

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/app
ExecStart=/usr/bin/python3 /home/vagrant/app/app.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

# Важные параметры безопасности
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
